.my-border{
    border: solid 1px #D4D4D4;
    border-radius: 15px;
}
.blue-text{
    color: var(--dashboard-bg);
}
.gray-text{
    color: #9C9C9C;
}
.graybtn{
    text-decoration: none;
    display: flex;
    justify-content: center;
    width: calc(50% - 10px);
    color: #000;
    background-color: #E1E7E9;
    padding: 20px;
    border-radius: 15px;
}
.redbtn{
    text-decoration: none;
    display: flex;
    justify-content: center;
    width: calc(50% - 10px);
    color: #000;
    background-color: #FF0000;
    padding: 20px;
    border-radius: 15px;
}
.searchbar{
    border: solid 1px #cdcdcd;
    padding: 8px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.searchinput{
    width: 100%;
    border: none;
}
.searchbar .fa-magnifying-glass{
    background: #000;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
}
.skyselect{
    background: #99C3FF;
    border: none !important;
    padding: 20px 10px;
    width: calc(50% - 10px);
    margin-right: 10px;
    border-radius: 10px;
    color: #fff;
}
.bluebtn{
    text-decoration: none;
    display: flex;
    justify-content: center;
    width: calc(50% - 10px);
    color: #fff;
    background-color: #012241;
    padding: 17px 5px;
    border-radius: 10px;
}
.skyselect option{
    background: #fff;
    color: #9C9C9C;
}
.slick-dots {
    position: absolute;
    bottom: 10px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.slick-dots li button:before {
    font-family: 'slick';
    font-size: 60px;
    font-weight: bolder;
    line-height: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '-';
    text-align: center;
    opacity:1;
    color: #D9D9D9;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fa-star{
    color: #FCDC0F;
}
.youtube{
    display: flex;
    align-items: center;
    color: #fff;
    background: var(--red);
    padding: 20px;
    border-radius: 15px;
    text-decoration: none;
}
.text-blues {
    color: var(--dashboard-bg);
}