* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'poppins';
    src: url('../fonts/poppins-black-webfont.woff2') format('woff2'),
        url('../fonts/poppins-black-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;

}

@font-face {
    font-family: 'poppins';
    src: url('../fonts/poppins-bold-webfont.woff2') format('woff2'),
        url('../fonts/poppins-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'poppins';
    src: url('../fonts/poppins-semibold-webfont.woff2') format('woff2'),
        url('../fonts/poppins-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;

}

@font-face {
    font-family: 'poppins';
    src: url('../fonts/poppins-extrabold-webfont.woff2') format('woff2'),
        url('../fonts/poppins-extrabold-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;

}

@font-face {
    font-family: 'poppins';
    src: url('../fonts/poppins-extralight-webfont.woff2') format('woff2'),
        url('../fonts/poppins-extralight-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;

}

@font-face {
    font-family: 'poppins';
    src: url('../fonts/poppins-light-webfont.woff2') format('woff2'),
        url('../fonts/poppins-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'poppins';
    src: url('../fonts/poppins-medium-webfont.woff2') format('woff2'),
        url('../fonts/poppins-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: 'poppins';
    src: url('../fonts/poppins-regular-webfont.woff2') format('woff2'),
        url('../fonts/poppins-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'poppins';
    src: url('../fonts/poppins-thin-webfont.woff2') format('woff2'),
        url('../fonts/poppins-thin-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;

}

body {
    font-family: 'poppins';
}

:root {
    --red: #FF3030;
    --dashboard-bg: rgba(1, 34, 65, 1);
    --custom-secondary: rgba(32, 34, 36, 1);
    --bd-active-link: rgba(153, 195, 255, 1);

}

.my-shadow {
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}

.focus-none:focus {
    outline: none;
    box-shadow: none;
}

.pointer {
    cursor: pointer;
}

.bg-main-blue {
    background-color: var(--dashboard-bg);
}

.text-blue {
    color: var(--bd-active-link);
}

.border-blue {
    border-color: var(--bd-active-link) !important;
}

.template-body {
    background-color: rgba(241, 241, 244, 1);
}

.template-left {
    height: 100dvh;
    width: 250px;
    z-index: 10;
    background-color: var(--dashboard-bg);
    color: #fff;
}

.template-logo {
    width: 210px;
}

.template-left-mid {
    height: calc(100dvh - 250px);
}

.teml-mid-links {
    text-decoration: none;
    color: #fff;
    padding: 12px;
}

.teml-mid-links.active {
    color: var(--bd-active-link);
}

.teml-mid-links:hover {
    color: var(--bd-active-link);
}

.icon-image {
    width: 16px;
    height: 16px;
    object-fit: contain;
}

.template-right {
    width: calc(100% - 250px);
}

.tr-top-images {
    width: 25px;
    height: 25px;
    object-fit: contain;
}

.template-prifile-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}
.tem-right-btm{
    height: calc(100dvh - 125px);
}

.template-body>* ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.template-body>* ::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 10px;
}

.template-body>* ::-webkit-scrollbar-thumb {
    background: var(--dashboard-bg);
    border: 1px solid #fff;
    border-radius: 10px;
}


@media screen and (max-width:1200px) {
    .template-left {
        display: none;
        position: absolute;
    }

    .template-right {
        width: 100%;
    }
    .template-right-top{
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
    }
    .tem-right-btm{
        height: calc(100dvh - 100px);
    }
    
}