.my-border{
    border: solid 1px #D4D4D4;
    border-radius: 15px;
}
.blue-text{
    color: var(--dashboard-bg);
}
.gray-text{
    color: #9C9C9C;
}
.graybtn{
    text-decoration: none;
    display: flex;
    justify-content: center;
    width: calc(50% - 10px);
    color: #000;
    background-color: #E1E7E9;
    padding: 20px;
    border-radius: 15px;
}
.redbtn{
    text-decoration: none;
    display: flex;
    justify-content: center;
    width: calc(50% - 10px);
    color: #000;
    background-color: #FF0000;
    padding: 20px;
    border-radius: 15px;
}
.searchbar{
    border: solid 1px #cdcdcd;
    padding: 8px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.searchinput{
    width: 100%;
    border: none;
}
.searchbar .fa-magnifying-glass{
    background: #000;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
}
.skyselect{
    background: #99C3FF;
    border: none !important;
    padding: 20px 10px;
    width: calc(50% - 20px);
    margin-right: 10px;
    border-radius: 10px;
    color: #fff;
}
.bluebtn{
    text-decoration: none;
    display: flex;
    justify-content: center;
    width: calc(50% - 20px);
    color: #fff;
    background-color: #012241;
    padding: 17px 5px;
    border-radius: 10px;
}