.my-border{
    border: solid 1px #D4D4D4;
    border-radius: 15px;
}
.blue-text{
    color: var(--dashboard-bg);
}
.gray-text{
    color: #9C9C9C;
}
.graybtn{
    text-decoration: none;
    display: flex;
    justify-content: center;
    color: #000;
    background-color: #E1E7E9;
}
.redbtn{
    text-decoration: none;
    display: flex;
    justify-content: center;
    color: #000;
    background-color: #FF0000;
}
.searchbar{
    border: solid 1px #cdcdcd;
    padding: 8px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.searchinput{
    width: 100%;
    border: none;
}
.searchbar .fa-magnifying-glass{
    background: #000;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
}
.skyselect{
    background: #99C3FF;
}
.bluebtn{
    background-color: #012241;
}
.skyselect option{
    background: #fff;
    color: #9C9C9C;
}
.slick-dots {
    bottom: 10px;
}
.slick-dots li button:before {
    font-size: 60px;
    font-weight: bolder;
    line-height: 0;
    content: '-';
    opacity:1;
    color: #D9D9D9;
}
.fa-star{
    color: #FCDC0F;
}
.youtube{
    background: var(--red);
}
.text-blues {
    color: var(--dashboard-bg);
}
.box-hover {
  transition: all 0.3s;
}
.box-hover:hover {
  background-color: var(--dashboard-bg);
}
.box-hover:hover p:nth-of-type(1){
 color: #fff;
}

/* -------------radio styling------- */
.checkbox-wrapper-24 .checkbox {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  text-align: center;
}

.checkbox-wrapper-24 label {
  display: inline-block;
  color: #333;
  cursor: pointer;
  position: relative;
}
.checkbox-wrapper-24 label span {
  display: inline-block;
  position: relative;
  background-color: transparent;
  width: 20px;
  height: 20px;
  transform-origin: center;
  border: 2px solid #333;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 10px;
  transition: background-color 150ms 200ms, transform 350ms cubic-bezier(0.78, -1.22, 0.17, 1.89);
}
.checkbox-wrapper-24 label span:before {
  content: "";
  width: 0px;
  height: 2px;
  border-radius: 2px;
  background: #333;
  position: absolute;
  transform: rotate(45deg);
  top: 9px;
  left: 5px;
  transition: width 50ms ease 50ms;
  transform-origin: 0% 0%;
}
.checkbox-wrapper-24 label span:after {
  content: "";
  width: 0;
  height: 2px;
  border-radius: 2px;
  background: #333;
  position: absolute;
  transform: rotate(305deg);
  top: 12px;
  left: 7px;
  transition: width 50ms ease;
  transform-origin: 0% 0%;
}
.checkbox-wrapper-24 label:hover span:before {
  width: 5px;
  transition: width 100ms ease;
}
.checkbox-wrapper-24 label:hover span:after {
  width: 10px;
  transition: width 150ms ease 100ms;
}

.checkbox-wrapper-24 input[type=checkbox] {
  display: none;
}
.checkbox-wrapper-24 input[type=checkbox]:checked + label span {
  background-color: #333;
  /* transform: scale(1.25); */
}
.checkbox-wrapper-24 input[type=checkbox]:checked + label span:after {
  width: 10px;
  background: #fff;
  transition: width 150ms ease 100ms;
}
.checkbox-wrapper-24 input[type=checkbox]:checked + label span:before {
  width: 5px;
  background: #fff;
  transition: width 150ms ease 100ms;
}

.checkbox-wrapper-24 input[type=checkbox]:checked + label:hover span {
  background-color: #333;
  /* transform: scale(1.25); */
}

.checkbox-wrapper-24 input[type=checkbox]:checked + label:hover span:after {
  width: 10px;
  background: #fff;
  transition: width 150ms ease 100ms;
}

.checkbox-wrapper-24 input[type=checkbox]:checked + label:hover span:before {
  width: 5px;
  background: #fff;
  transition: width 150ms ease 100ms;
}

.template-right-top {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

.upload-box {
    border: 2px dashed #d3d3d3;
    border-radius: 10px;
    width: 100%;
    padding: 50px;
    text-align: center;
    background-color: #f8f8f8;
}

.tags-input-container {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 4px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
}

.tag {
    background-color: #99C3FF;
    color: white;
    padding: 10px 20px;
    margin: 2px;
    border-radius: 25px;
    display: inline-block;
    font-size: 16px;
    position: relative; 
}

.remove-tag {
    margin-left: 15px; 
    cursor: pointer;
    font-size: 12px;
    color: white; 
}

#tag-input {
    border: none;
    outline: none;
    flex-grow: 1;
    font-size: 14px;
    padding: 5px;
    margin: 2px;
}

.ingredient-row, .essential-row, .step-row,.Starch-preparation-row, .Design-row, .Comment-row , .Variable-row{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.Predefined-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.spell-checker, .remove{
    margin-left: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

.spellbtn {
    background-color: #99C3FF;
    color: white;
    border: none;
    text-wrap: nowrap;
    padding: 7px 10px;
    border-radius: 5px;
}

.remove {
    color: var(--dashboard-bg);
    background:none;
    border: none;
    border-radius: 5px;
}
.custom-input {
  background: #F8F8F8 !important;
  border: 1px solid #D7D5D5 !important;
}
.file-color {
  color: #9C9C9C;
}
.blue-border {
  border: 1px solid var(--dashboard-bg);
}
.resize-none {
  resize: none;
}
@media screen and (max-width:577px) {
  .border-default-none {
    border: none !important;
  }
}
